.colortitulo {
    background-size: 90px;
    color: #192cba;
    font-size: 30px;
    position: relative;
    text-align: none;
    text-decoration: none;
    text-shadow: #525252 0.2em 0.2em;
}


.inicion {
    width: 1300px;
    height: 341px;
    border-radius: 100% 0% 31% 69% / 100% 41% 59% 0%;
    background-color: #fbc30c;
    margin-top: 30px;
    opacity: 0.7;
}



span {
    color: #fbc30c;
}

.colorbarra {
    background-color: #030303;
}

.menu {
    color: aliceblue;
}

.colortitule {
    background-size: 90px;
    color: rgb(25, 44, 186);
    font-size: 50px;
    position: relative;
    text-align: none;
    text-decoration: none;
}

body {
    background-image: url("../img/sede-vinadelmar.jpg");
    background-repeat: repeat;
}

.colorfooter {
    background-color: #030303;
}

/* CSS */
.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}




footer {
    margin-top: 10%;
}

img {
    width: 100%;
}

.timeline {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

/************ header ***********/
h1 {
    font-size: 28px;
    margin: 20px 0;
    text-align: center;
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

/************* list ************/
.list {
    position: relative;
    list-style: none;
    justify-content: space-between;
}

.list::after {
    position: absolute;
    content: '';
    width: 1px;
    top: 0;
    left: 50%;
    height: 100%;
    background: #ddd;
}

/************ Item ****************/
.item {
    max-width: 440px;
    z-index: 2;
    position: relative;
    margin-bottom: 70px;
}

/********  header ******/
.header-item1 {
    background-color: #192cba;
    color: #fff;
    display: flex;
    padding: 15px;
    text-transform: uppercase;
    position: relative;
}

.header-item2 {
    background-color: #fbc30c;
    color: #fff;
    display: flex;
    padding: 15px;
    text-transform: uppercase;
    position: relative;
}

.header-item3 {
    background-color: #192cba;
    color: #fff;
    display: flex;
    padding: 15px;
    text-transform: uppercase;
    position: relative;
}

.header-item4 {
    background-color: #fbc30c;
    color: #fff;
    display: flex;
    padding: 15px;
    text-transform: uppercase;
    position: relative;
}

.header-item4 {
    background-color: #192cba;
    color: #fff;
    display: flex;
    padding: 15px;
    text-transform: uppercase;
    position: relative;
}

.header-item5 {
    background-color: #fbc30c;
    color: #fff;
    display: flex;
    padding: 15px;
    text-transform: uppercase;
    position: relative;
}

.header-item6 {
    background-color: #192cba;
    color: #fff;
    display: flex;
    padding: 15px;
    text-transform: uppercase;
    position: relative;
}

.number {
    background: rgba(0, 0, 0, 0.17);
    font-size: 25px;
    padding: 20px;
    font-weight: 600
}

.title {
    font-size: 23px;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 15px;
}

.small {
    display: block;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 2px;
}

/****** content ******/
.content-item {
    padding: 15px;
    background: #fff;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(191, 191, 191, 0.4);
}

.content-item p {
    margin-bottom: 15px;
}

.container3 {
    -webkit-border-radius: 58px;
    border-radius: 58px;
    background: #c6c7c8;
    -webkit-box-shadow: 28px 28px 69px #54565e, -28px -28px 69px #ffffff;
    box-shadow: 28px 28px 69px #54565e, -28px -28px 69px #000000;
    width: 1500px;
    height: 660px;
    margin: 70px 10px 0 100px;
    text-align: center;
}

.ocultar-boton{
    visibility: hidden;
        display: none;
}
/********************** Desktop ********************/
.list {
    display: flex;
    flex-flow: row wrap;
    padding: 50px 0
}

@media (min-width:851px) {
    .container3 {
        -webkit-border-radius: 58px;
        border-radius: 58px;
        background: #c6c7c8;
        -webkit-box-shadow: 28px 28px 69px #54565e, -28px -28px 69px #ffffff;
        box-shadow: 28px 28px 69px #54565e, -28px -28px 69px #000000;
        width: 500px;
        height: 260px;
        margin: 0px  600px;
        text-align: center;
    
    }

    

    .item {
        flex: 1 50%;
        padding: 0 50px;
    }

    .item:last-child {
        flex: 1 100%;
        margin-left: -40px;
    }

    .item:nth-child(even) {
        margin-top: 150px;
    }

    .header-item1::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: solid 20px transparent;
    }

    .item:nth-child(odd) .header-item1::before {
        left: 100%;
        border-left: solid 20px #192cba;
    }

    .item:nth-child(even) .header-item1::before {
        right: 100%;
        border-right: solid 20px #192cba;
    }
    .header-item2::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: solid 20px transparent;
    }

    .item:nth-child(odd) .header-item2::before {
        left: 100%;
        border-left: solid 20px #fbc30c;
    }

    .item:nth-child(even) .header-item2::before {
        right: 100%;
        border-right: solid 20px #fbc30c;
    }
    .header-item3::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: solid 20px transparent;
    }

    .item:nth-child(odd) .header-item3::before {
        left: 100%;
        border-left: solid 20px #192cba;
    }

    .item:nth-child(even) .header-item3::before {
        right: 100%;
        border-right: solid 20px #192cba;
    }

    .header-item4::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: solid 20px transparent;
    }

    .item:nth-child(odd) .header-item4::before {
        left: 100%;
        border-left: solid 20px #192cba;
    }

    .item:nth-child(even) .header-item4::before {
        right: 100%;
        border-right: solid 20px #192cba;
    }

    .header-item5::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: solid 20px transparent;
    }

    .item:nth-child(odd) .header-item5::before {
        left: 100%;
        border-left: solid 20px #fbc30c;
    }

    .item:nth-child(even) .header-item5::before {
        right: 100%;
        border-right: solid 20px #fbc30c;
    }

    .header-item6::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: solid 20px transparent;
    }

    .item:nth-child(odd) .header-item6::before {
        left: 100%;
        border-left: solid 20px #192cba;
    }

    .item:nth-child(even) .header-item6::before {
        right: 100%;
        border-right: solid 20px #192cba;
    }


    .item::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ccc;
        top: 25px;
    }

    .item:nth-child(odd)::after {
        right: -5px;
    }

    .item:nth-child(even)::after {
        left: -5px;
    }



}

@media (max-width:850px) {
    .item {
        flex: 1 100%;
    }

    .list {
        justify-content: center;
    }

    .ocultar-div {
        visibility: hidden;
        display: none;
    }

    .ocultar-boton {
        visibility: visible;
        display: contents;
    }

    .container3 {
        -webkit-border-radius: 58px;
        border-radius: 58px;
        background: #c6c7c8;
        -webkit-box-shadow: 28px 28px 69px #54565e, -28px -28px 69px #ffffff;
        box-shadow: 28px 28px 69px #54565e, -28px -28px 69px #000000;
        width: 300px;
        height: 160px;
        margin: 20px 0px 0 10px;
        text-align: center;
    }
    

}


.header1 {
    background: url('http://www.autodatz.com/wp-content/uploads/2017/05/Old-Car-Wallpapers-Hd-36-with-Old-Car-Wallpapers-Hd.jpg');
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 95% 95% / 40%;
}

.header1 .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background: linear-gradient(#020024 0%, rgb(10, 75, 93) 35%, rgb(37, 62, 185) 100%);

}

h1 {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 30px;
}

h3,
p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.colorheader {
    background-size: 90px;
    color: rgb(244, 244, 245);
    font-size: 60px;
    position: relative;
    text-align: none;
    text-decoration: none;
}


img.descargaimage{
    mix-blend-mode: multiply;
    visibility: visible;
    float:none;
    width: 200px;
    height: 200px;
    text-align: center;
}



/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}